html {
    overscroll-behavior: none;
}

body{
    margin: 0 auto;
    background-color: #CDDEFF;
    position: relative;
}

#titleBar{
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    background-color: #006;
    color: white;
}

#title{
    font-size: 22px;
}

#content{
    display: block;
}

#defaultCanvas0{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

table{
    border: none;
}

table{
    position:  absolute;
    padding: 10px;
    left: 0px;
    top: 530px; 
}

.formula-container{
    display: inline;
}

.formula-x, .formula-y{
    width: 400px;
    height: 100px;
    font-size: 10px;
}

.formula-x{
    background-color: #ffccff;
}

.formula-y{
    background-color: #ccffff;
}

button{
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;

    background-color: #e8822a;
    color: #fff;
    width: 150px;
    border-style: none;
}